<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" lang="en" />
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
  <script src="js/moment.js"></script>
  <script src="js/highchart-theme.js"></script>
  <script type="text/javascript">
  // Page logic (note, themes etc, moved to highchart-theme.js)
  $(function() {
    var hourlyWithPriceOnly = "hourly-graph-price-only";
    var hourlyWithPriceAndSentiment = "hourly-graph-with-sentiment";

    // Chart the hourly (price only)
    var chart = Highcharts.chart(hourlyWithPriceOnly, {
      xAxis: {
        type: 'datetime'
      },
      plotOptions: {
        line: {
          marker: {
            enabled: false
          }
        }
      },
      title: {
        text: 'Price of Bitcoin: Hourly [Price only prediction]'
      },
      exporting: { enabled: false },
      series: [{
        name: 'USD Price',
        data: <%- JSON.stringify(chartData.hourlyPriceOnly) %>,
        tooltip: {
          valueDecimals: 2
        }
      }]
    });

    // Chart hourly (price and sentiment prediction)
    chart = Highcharts.chart(hourlyWithPriceAndSentiment, {
      xAxis: {
        type: 'datetime'
      },
      plotOptions: {
        line: {
          marker: {
            enabled: false
          }
        }
      },
      title: {
        text: 'Price of Bitcoin: Hourly [Price & Sentiment Prediction]'
      },
      exporting: { enabled: false },
      series: [{
        name: 'USD Price',
        data: <%- JSON.stringify(chartData.hourlyPriceAndSentiment) %>,
        tooltip: {
          valueDecimals: 2
        }
      }]
    });
  });
  </script>
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <div id="crypto-sense-logo-container">
      <img src="crypto-sense-header.png" />
    </div>
    <div id="links-container">
      <ul>
        <li><a href="http://www.github.com/MichaelDragan/Smsa">Github: Prediction Model</a></li>
        <li><a href="http://www.github.com/Treeless/crypto-monitor">Github: Website</a></li>
        <li><a href="http://www.github.com/Treeless/Bitsense">Github: Twitter Bot</a></li>
      </ul>
      <hr>
      <div id="twitter">
        <a href="https://twitter.com/cryptosensebot?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @cryptosensebot</a>
        <br>
        <small> <span class="fa fa-twitter"></span> 'We tweet our predictions when we make them!'  <span class="fa fa-twitter"></span></small>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <hr>
    </div>
    <div class="center">
      Realtime BTC:
      <span id="bitcoin-price">'Loading'</span> USD
      <div>
        <div>
          Hour : <span id="percent-change-hour">.</span>
        </div>
        <div>
          Day: <span id="percent-change-tf">.</span>
        </div>
        <div>
          Week: <span id="percent-change-sd">.</span>
        </div>
      </div>
    </div>
  </header>
  <div id="main-container">
    <div id="prediction-type-container">
      <div class="prediction-inner">
        <div id="title-container">
          <span id="title">Next Hour's Prediction</span>
          <div>
            <span class="fa fa-clock-o"> <%= predictions.nextHour.date.format("YYYY-MM-DD h:mm a") %></span>
            <div>
              <small>(<%= predictions.nextHour.date.fromNow() %>)</small>
            </div>
          </div>
        </div>
        <div id="prediction-container" class=<%=( (predictions.nextHour.percentage> 0) ? "green-color" : "red-color") %>>
          <span id="prediction-number">$<%= predictions.nextHour.price.toLocaleString() %></span> | <span id="prediction-percentage-change"><span class='<%= ((predictions.nextHour.percentage > 0) ? "fa fa-arrow-up" : "fa fa-arrow-down") %>'></span>
          <%= predictions.nextHour.percentage %>%</span>
        </div>
      </div>
      <div class="prediction-inner">
        <div id="title-container">
          <span id="title">Next Days's Prediction</span>
          <div>
            <span class="fa fa-clock-o"> <%= predictions.nextDay.date.format("YYYY-MM-DD h:mm a") %></span>
            <div>
              <small>(<%= predictions.nextDay.date.fromNow() %>)</small>
            </div>
          </div>
        </div>
        <div id="prediction-container" class=<%=( (predictions.nextDay.percentage> 0) ? "green-color" : "red-color") %>>
          <span id="prediction-number">$<%= predictions.nextDay.price.toLocaleString() %></span> | <span id="prediction-percentage-change"><span class='<%= ((predictions.nextDay.percentage > 0) ? "fa fa-arrow-up" : "fa fa-arrow-down") %>'></span>
          <%= predictions.nextDay.percentage %>%</span>
        </div>
      </div>
    </div>
    <div id="prediction-graphs-container">
      <div>
        <div class="button-container">
          <button class="active">Hourly Prediction Chart</button>
        </div>
        <div class="button-container">
          <button>Daily Prediction Chart</button>
        </div>
      </div>
      <div id="graphs-container">
        <div id="hourly-graphs">
          <!-- HOURLY -->
          <div class="chart" id="hourly-graph-price-only"></div>
          <div class="chart" id="hourly-graph-with-sentiment"></div>
          <!-- END HOURLY -->
        </div>
        <div id="daily-graphs" style="display:none;">
          <!--DAILY -->
          <div class="chart" id="daily-graph-price-only"></div>
          <div class="chart" id="daily-graph-with-sentiment"></div>
          <!-- END DAILY -->
        </div>
      </div>
    </div>
  </div>
  <footer>
    <span>Trent University: COIS-4000Y Software Engineering Project</span>
    <br>
    <span>
        Created by: <a title="Nakul Roghelia" href="https://www.github.om/nhavoc">@nhavoc</a>, <a title="Michael Dragan" href="https://www.github.com/MichaelDragan">@MichaelDragan</a>, <a title="Matthew Rowlandson" href="http://www.github.com/Treeless">@Treeless</a> &amp; <a href="https://www.github.com/sidelaunch" title="Eliot Boyd">@Sidelaunch</a>
      </span>
  </footer>
</body>

</html>