<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" lang="en" />
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
  <script src="js/moment.js"></script>
  <script src="js/highchart-theme.js"></script>
  <script src="js/realtime.js"></script>
  <script type="text/javascript">
  var state = "hourly"; //Hourly is the default state
  // Button logic to hide and show certain charts
  var buttonLogic = function(e) {
    console.log("BUTTON CLICKED")
    var id = $(e.currentTarget).attr('id');
    if (id.indexOf('hourly') > -1) {
      if (state != "hourly") {
        //Show the hourly graphs
        console.log("show hourly graphs")
        $('#hourly-graphs').show();
        $('#daily-graphs').hide();
        state = "hourly";
      }
    } else if (id.indexOf('daily') > -1) {
      if (state != "daily") {
        //show the daily graphs
        console.log("show daily graphs");
        $('#daily-graphs').show();
        $('#hourly-graphs').hide();
        state = "daily";
      }
    }
  }

  $(function() {
    $('#hourly-button').on('click', buttonLogic);
    $('#daily-button').on('click', buttonLogic)
  });
  </script>
  <script type="text/javascript">
  // Page logic (note, themes etc, moved to highchart-theme.js)
  $(function() {
    var hourlyWithPriceOnly = "hourly-graph-price-only";

    var dailyWithPriceOnly = "daily-graph-price-only";

    var generalPredictionSeriesSettings = {
      name: 'CryptoSense prediction',
      tooltip: {
        valueDecimals: 2
      },
      line: {
        dashStyle: "Dot"
      }
    };
    var generalChartSettings = {
      xAxis: {
        type: 'datetime'
      },
      exporting: { enabled: false },
      plotOptions: {
        series: {
          marker: {
            symbol: "circle"
          }
        }
      }
    };

    // Chart the hourly (price only)
    var hourlyPriceData = <%- JSON.stringify(chartData.hourlyPriceData) %>;
    var hourlyPredictionViaPrice = <%- JSON.stringify(chartData.hourlyPredictionPriceOnly) %>;
    var chart = Highcharts.chart(hourlyWithPriceOnly, Object.assign({
      title: {
        text: 'Price of Bitcoin: Hourly [Prediction made using price history]'
      },
      series: [{
          name: 'Price (per hour)',
          data: hourlyPriceData,
          tooltip: {
            valueDecimals: 2
          }
        },
        Object.assign({
          data: hourlyPredictionViaPrice,
        }, generalPredictionSeriesSettings)
      ]
    }, generalChartSettings));

    // Chart the daily (prediction using price only)
    chart = Highcharts.chart(dailyWithPriceOnly, Object.assign({
      title: {
        text: 'Price of Bitcoin: Daily [Prediction made using Price History]'
      },
      series: [{
          name: 'USD Price (by day closing price)',
          data: <%- JSON.stringify(chartData.dailyPriceData) %>,
          tooltip: {
            valueDecimals: 2
          }
        },
        Object.assign({
          name: 'CryptoSense prediction',
          data: <%- JSON.stringify(chartData.dailyPredictionPriceOnly) %>,
          tooltip: {
            valueDecimals: 2
          }
        }, generalPredictionSeriesSettings)
      ]
    }, generalChartSettings));

    //Chart the sentiment
    //SENTIMENT CHARTS
    //Hourly sentiment
    chart = Highcharts.chart('sentiment-hourly-chart-div', {
      xAxis: {
        type: 'datetime'
      },
      yAxis: { allowDecimals: Boolean },
      plotOptions: {
        line: {
          marker: {
            enabled: false
          }
        }
      },
      title: {
        text: 'Community Sentiment by Hour'
      },
      exporting: { enabled: false },
      series: [{
          name: "TextBlob Sentiment",
          data: <%- JSON.stringify(chartData.hourlyTextblobPolarity) %>,
          tooltip: {
            valueDecimals: 4
          },
          color: "red"
        },
        {
          name: "Vader Sentiment",
          data: <%- JSON.stringify(chartData.hourlyVaderPolarity) %>,
          tooltip: {
            valueDecimals: 4
          },
          color: "yellow"
        }
      ]
    });
  });
  </script>
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <div id="crypto-sense-logo-container">
      <img src="crypto-sense-header.png" />
    </div>
    <div id="links-container">
      <ul>
        <li><a href="http://www.github.com/MichaelDragan/Smsa">Github: Prediction Model</a></li>
        <li><a href="http://www.github.com/Treeless/crypto-monitor">Github: Website</a></li>
      </ul>
      <hr>
    </div>
    <div class="center">
      Realtime Market Bitcoin Price:
      <span id="bitcoin-price">'Loading'</span> USD
      <div>
        <div>
          Hour : <span id="percent-change-hour">.</span>
        </div>
        <div>
          Day: <span id="percent-change-tf">.</span>
        </div>
        <div>
          Week: <span id="percent-change-sd">.</span>
        </div>
      </div>
    </div>
  </header>
  <div id="main-container">
    <div id="prediction-type-container">
      <div class="prediction-inner">
        <div id="title-container">
          <span id="title">Next Hour's Prediction</span>
          <div>
            <span class="fa fa-clock-o"> <%= moment(nextHourPrediction.date).format("YYYY-MM-DD h:mm a") %></span>
            <div>
              <small>(<%= moment(nextHourPrediction.date).fromNow() %>)</small>
            </div>
          </div>
        </div>
        <div id="prediction-container" class=<%=( (nextHourPrediction.percentage> 0) ? "green-color" : "red-color") %>>
          <span id="prediction-number">$<%= nextHourPrediction.price.toLocaleString() %></span> | <span id="prediction-percentage-change"><span class='<%= ((nextHourPrediction.percentage > 0) ? "fa fa-arrow-up" : "fa fa-arrow-down") %>'></span>
          <%= nextHourPrediction.percentage %>%</span>
        </div>
      </div>
      <div class="prediction-inner">
        <div id="title-container">
          <span id="title">Next Days's Prediction</span>
          <div>
            <span class="fa fa-clock-o"> <%= moment(nextDayPrediction.date).format("YYYY-MM-DD h:mm a") %></span>
            <div>
              <small>(<%= moment(nextDayPrediction.date).fromNow() %>)</small>
            </div>
          </div>
        </div>
        <div id="prediction-container" class=<%=( (nextDayPrediction.percentage> 0) ? "green-color" : "red-color") %>>
          <span id="prediction-number">$<%= nextDayPrediction.price.toLocaleString() %></span> | <span id="prediction-percentage-change"><span class='<%= ((nextDayPrediction.percentage > 0) ? "fa fa-arrow-up" : "fa fa-arrow-down") %>'></span>
          <%= nextDayPrediction.percentage %>%</span>
        </div>
      </div>
    </div>
    <div id="prediction-graphs-container">
      <div>
        <div class="button-container">
          <button id="hourly-button" class="active">Hourly Prediction Chart</button>
        </div>
        <div class="button-container">
          <button id="daily-button">Daily Prediction Chart</button>
        </div>
      </div>
      <div id="graphs-container">
        <div id="hourly-graphs">
          <h3>Hourly Bitcoin Prices - $USD [Hourly Price]</h3>
          <!-- HOURLY -->
          <div class="chart" id="hourly-graph-price-only"></div>
          <div id="sentiment-hourly-chart-div" class="chart"></div>
          <span>** We use two sentiment libraries to ensure we can see a correlation in case one is incorrect during a hourly window</span>
          <!-- END HOURLY -->
        </div>
        <div id="daily-graphs" style="display:none;">
          <!--DAILY -->
          <h3>Daily Bitcoin Prices - $USD [Closing Price]</h3>
          <div class="chart" id="daily-graph-price-only"></div>
          <!-- END DAILY -->
        </div>
      </div>
    </div>
  </div>
  <footer>
    <span>Trent University: COIS-4000Y Software Engineering Project</span>
    <br>
    <span>
        Created by: <a title="Nakul Roghelia" href="https://www.github.com/nhavoc">@nhavoc</a>, <a title="Michael Dragan" href="https://www.github.com/MichaelDragan">@MichaelDragan</a>, <a title="Matthew Rowlandson" href="https://www.github.com/Treeless">@Treeless</a> &amp; <a href="https://www.github.com/sidelaunch" title="Eliot Boyd">@Sidelaunch</a>
      </span>
  </footer>
</body>

</html>