<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" lang="en" />
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
  <script src="js/moment.js"></script>
  <script src="js/highchart-theme.js"></script>
  <script type="text/javascript">
    var state = "hourly"; //Hourly is the default state
    // Button logic to hide and show certain charts
    var buttonLogic = function(e){
      console.log("BUTTON CLICKED")
      var id = $(e.currentTarget).attr('id');
      if(id.indexOf('hourly') > -1){
        if(state != "hourly"){
          //Show the hourly graphs
          console.log("show hourly graphs")
          state = "hourly";
        }
      }else if(id.indexOf('daily') > -1){
        if(state != "daily"){
          //show the daily graphs
          console.log("show daily graphs");
          state = "daily";
        }
      }
    }

    $(function(){
      $('#hourly-button').on('click', buttonLogic);
      $('#daily-button').on('click', buttonLogic)
    });
  </script>
  <script type="text/javascript">
  // Page logic (note, themes etc, moved to highchart-theme.js)
  $(function() {
    var hourlyWithPriceOnly = "hourly-graph-price-only";
    var hourlyWithPriceAndSentiment = "hourly-graph-with-sentiment";

    var dailyWithPriceOnly = "daily-graph-price-only";
    var dailyWithPriceAndSentiment = "daily-graph-with-sentiment";

    var generalPredictionSeriesSettings = {};
    var generalChartSettings = {};

    // Chart the hourly (price only)
    var chart = Highcharts.chart(hourlyWithPriceOnly, {
      xAxis: {
        type: 'datetime'
      },
      plotOptions: {
        line: {
          marker: {
            enabled: false
          }
        }
      },
      title: {
        text: 'Price of Bitcoin: Hourly [Prediction made using price history]'
      },
      exporting: { enabled: false },
      series: [{
        name: 'Price (per hour)',
        data: <%- JSON.stringify(chartData.hourlyPriceData) %>,
        tooltip: {
          valueDecimals: 2
        }
      }]
    });

    // Chart hourly (price and sentiment prediction)
    chart = Highcharts.chart(hourlyWithPriceAndSentiment, {
      xAxis: {
        type: 'datetime'
      },
      plotOptions: {
        line: {
          marker: {
            enabled: false
          }
        }
      },
      title: {
        text: 'Price of Bitcoin: Hourly [Prediction made using Price History & Community Sentiment]'
      },
      exporting: { enabled: false },
      series: [{
        name: 'Price (per hour)',
        data: <%- JSON.stringify(chartData.hourlyPriceData) %>,
        tooltip: {
          valueDecimals: 2
        }
      }]
    });

    // Chart the daily (prediction using price only)
    chart = Highcharts.chart(dailyWithPriceOnly, {
      xAxis: {
        type: 'datetime'
      },
      title: {
        text: 'Price of Bitcoin: Daily [Prediction made using Price History]'
      },
      exporting: { enabled: false },
      series: [{
          name: 'USD Price (by day closing price)',
          data: <%- JSON.stringify(chartData.dailyPriceData) %>,
          tooltip: {
            valueDecimals: 2
          },
          plotOptions: {
            line: {
              marker: {
                enabled: false
              },
            }
          }
        },
        {
          name: 'CryptoSense prediction',
          data: <%- JSON.stringify(chartData.dailyPredictionPriceAndSentiment) %>,
          tooltip: {
            valueDecimals: 2
          },
          plotOptions: {
            line: {
              dashStyle: "dot"
            }
          },
        }
      ]
    });

    //Chart the daily (prediction made using price AND sentment)
    chart = Highcharts.chart(dailyWithPriceAndSentiment, {
      xAxis: {
        type: 'datetime'
      },
      title: {
        text: 'Price of Bitcoin: Daily [Prediction made using Price History & Community Sentiment]'
      },
      exporting: { enabled: false },
      series: [{
        name: 'USD Price (by day closing price)',
        data: <%- JSON.stringify(chartData.dailyPriceData) %>,
        tooltip: {
          valueDecimals: 2
        }
      }, {
        name: 'CryptoSense prediction',
        data: <%- JSON.stringify(chartData.dailyPredictionPriceOnly) %>,
        tooltip: {
          valueDecimals: 2
        }
      }]
    });
  });
  </script>
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <div id="crypto-sense-logo-container">
      <img src="crypto-sense-header.png" />
    </div>
    <div id="links-container">
      <ul>
        <li><a href="http://www.github.com/MichaelDragan/Smsa">Github: Prediction Model</a></li>
        <li><a href="http://www.github.com/Treeless/crypto-monitor">Github: Website</a></li>
        <li><a href="http://www.github.com/Treeless/Bitsense">Github: Twitter Bot</a></li>
      </ul>
      <hr>
      <div id="twitter">
        <a href="https://twitter.com/cryptosensebot?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @cryptosensebot</a>
        <br>
        <small> <span class="fa fa-twitter"></span> 'We tweet our predictions when we make them!'  <span class="fa fa-twitter"></span></small>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <hr>
    </div>
    <div class="center">
      Realtime BTC:
      <span id="bitcoin-price">'Loading'</span> USD
      <div>
        <div>
          Hour : <span id="percent-change-hour">.</span>
        </div>
        <div>
          Day: <span id="percent-change-tf">.</span>
        </div>
        <div>
          Week: <span id="percent-change-sd">.</span>
        </div>
      </div>
    </div>
  </header>
  <div id="main-container">
    <div id="prediction-type-container">
      <div class="prediction-inner">
        <div id="title-container">
          <span id="title">Next Hour's Prediction</span>
          <div>
            <span class="fa fa-clock-o"> <%= moment(nextHourPrediction.date).format("YYYY-MM-DD h:mm a") %></span>
            <div>
              <small>(<%= moment(nextHourPrediction.date).fromNow() %>)</small>
            </div>
          </div>
        </div>
        <div id="prediction-container" class=<%=( (nextHourPrediction.percentage > 0) ? "green-color" : "red-color") %>>
          <span id="prediction-number">$<%= nextHourPrediction.price.toLocaleString() %></span> | <span id="prediction-percentage-change"><span class='<%= ((nextHourPrediction.percentage > 0) ? "fa fa-arrow-up" : "fa fa-arrow-down") %>'></span>
          <%= nextHourPrediction.percentage %>%</span>
        </div>
      </div>
      <div class="prediction-inner">
        <div id="title-container">
          <span id="title">Next Days's Prediction</span>
          <div>
            <span class="fa fa-clock-o"> <%= moment(nextDayPrediction.date).format("YYYY-MM-DD h:mm a") %></span>
            <div>
              <small>(<%= moment(nextDayPrediction.date).fromNow() %>)</small>
            </div>
          </div>
        </div>
        <div id="prediction-container" class=<%=( (nextDayPrediction.percentage> 0) ? "green-color" : "red-color") %>>
          <span id="prediction-number">$<%= nextDayPrediction.price.toLocaleString() %></span> | <span id="prediction-percentage-change"><span class='<%= ((nextDayPrediction.percentage > 0) ? "fa fa-arrow-up" : "fa fa-arrow-down") %>'></span>
          <%= nextDayPrediction.percentage %>%</span>
        </div>
      </div>
    </div>
    <div id="prediction-graphs-container">
      <div>
        <div class="button-container">
          <button id="hourly-button" class="active">Hourly Prediction Chart</button>
        </div>
        <div class="button-container">
          <button id="daily-button">Daily Prediction Chart</button>
        </div>
      </div>
      <div id="graphs-container">
        <div id="hourly-graphs">
          <!-- HOURLY -->
          <div class="chart" id="hourly-graph-price-only"></div>
          <div class="chart" id="hourly-graph-with-sentiment"></div>
          <!-- END HOURLY -->
        </div>
        <div id="daily-graphs" style="display:none;">
          <!--DAILY -->
          <div class="chart" id="daily-graph-price-only"></div>
          <div class="chart" id="daily-graph-with-sentiment"></div>
          <!-- END DAILY -->
        </div>
      </div>
    </div>
  </div>
  <footer>
    <span>Trent University: COIS-4000Y Software Engineering Project</span>
    <br>
    <span>
        Created by: <a title="Nakul Roghelia" href="https://www.github.om/nhavoc">@nhavoc</a>, <a title="Michael Dragan" href="https://www.github.com/MichaelDragan">@MichaelDragan</a>, <a title="Matthew Rowlandson" href="http://www.github.com/Treeless">@Treeless</a> &amp; <a href="https://www.github.com/sidelaunch" title="Eliot Boyd">@Sidelaunch</a>
      </span>
  </footer>
</body>

</html>