<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" lang="en" />
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
  <script src="js/moment.js"></script>
  <script src="js/highchart-theme.js"></script>
  <script src="js/realtime.js"></script>
  <script type="text/javascript">
  var state = "hourly"; //Hourly is the default state
  // Button logic to hide and show certain charts
  var buttonLogic = function(e) {
    var id = $(e.currentTarget).attr('id');
    if (id.indexOf('hourly') > -1) {
      if (state != "hourly") {
        //Show the hourly graphs
        console.log("show hourly graphs")
        $('#hourly-graphs').show();
        $('#daily-graphs').hide();
        state = "hourly";
      }
    } else if (id.indexOf('daily') > -1) {
      if (state != "daily") {
        //show the daily graphs
        console.log("show daily graphs");
        $('#daily-graphs').show();
        $('#hourly-graphs').hide();
        state = "daily";
      }
    }
  }

  $(function() {
    $('#hourly-button').on('click', buttonLogic);
    $('#daily-button').on('click', buttonLogic)
  });
  </script>
  <script type="text/javascript">
  // Page logic (note, themes etc, moved to highchart-theme.js)
  $(function() {
    var CHART_hourlyWithPriceOnly = "hourly-graph-price-only";
    var CHART_dailyWithPriceOnly = "daily-graph-price-only";

    var generalPredictionSeriesSettings = {
      name: 'CryptoSense prediction',
      tooltip: {
        valueDecimals: 2
      },
      line: {
        dashStyle: "Dot"
      }
    };
    var generalChartSettings = {
      xAxis: {
        type: 'datetime'
      },
      exporting: { enabled: false },
      plotOptions: {
        series: {
          marker: {
            symbol: "circle"
          }
        }
      }
    };

    // Chart the hourly (price only)
    var historicalHourlyPriceData = <%- JSON.stringify(locals.historicalHourlyPrices || []) %>;
    var hourlyPredictions = <%- JSON.stringify(locals.hourlyPredictions || []) %>;
    var chart = Highcharts.chart(CHART_hourlyWithPriceOnly, Object.assign({
      title: {
        text: 'Price of Bitcoin: Hourly'
      },
      series: [{
          name: 'Price ($USD)',
          data: historicalHourlyPriceData,
          tooltip: {
            valueDecimals: 2
          }
        },
        Object.assign({
          data: hourlyPredictions,
        }, generalPredictionSeriesSettings)
      ]
    }, generalChartSettings));

    //SENTIMENT
    var CHART_hourlySentiment = "hourly-sentiment";
    var CHART_hourlyTweetCount = "hourly-tweet-count";

    var textblobData = <%- JSON.stringify(locals.sentimentChartData[0] || []) %>;
    var vaderData = <%- JSON.stringify(locals.sentimentChartData[1] || []) %>;
    var hourlyTweetCount = <%- JSON.stringify(locals.sentimentChartData[2] || []) %>;

    // Chart the sentiment
    chart = Highcharts.chart(CHART_hourlySentiment, Object.assign({
      title: {
        text: 'Twitter Sentiment'
      },
      series: [{
          name: 'Textblob',
          data: textblobData,
          color: "red",
          tooltip: {
            valueDecimals: 6
          }
        },
        {
          name: "Vader",
          color: "yellow",
          data: vaderData,
          tooltip: {
            valueDecimals: 6
          }
        }
      ]
    }, generalChartSettings));

    //Chart the tweet count
    chart = Highcharts.chart(CHART_hourlyTweetCount, Object.assign({
      title: {
        text: 'Tweets'
      },
      series: [{
        name: 'Count',
        data: hourlyTweetCount,
        color: "blue",
        tooltip: {
          valueDecimals: 2
        }
      }]
    }, generalChartSettings));


    //DAILY
    var historicalDailyPriceData = <%- JSON.stringify(locals.historicalDailyPriceData || []) %>;
    var dailyPredictions = <%- JSON.stringify(locals.dailyPredictions || []) %>;
    // Chart the daily (prediction using price only)
    chart = Highcharts.chart(CHART_dailyWithPriceOnly, Object.assign({
      title: {
        text: 'Price of Bitcoin: Daily'
      },
      series: [{
          name: 'Price ($USD)',
          data: historicalDailyPriceData,
          tooltip: {
            valueDecimals: 2
          }
        },
        Object.assign({
          data: dailyPredictions,
          tooltip: {
            valueDecimals: 2
          }
        }, generalPredictionSeriesSettings)
      ]
    }, generalChartSettings));

  });
  </script>
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <div id="crypto-sense-logo-container">
      <img src="crypto-sense-header.png" />
    </div>
    <h2 id="expl">(<span class="fa fa-btc" style="color: orange;"></span> Bitcoin Price + <span class="fa fa-twitter" style="color:lightblue;"></span> Sentiment) <span class="fa fa-arrow-right"></span> (<span class="fa fa-cogs"></span> <span class="fa fa-desktop"></span> Machine Learning) = Predictions <span class="fa fa-usd" style="color:forestgreen;"></span> <span class="fa fa-clock-o"></span></h2>
  </header>
  <div id="top-right-triangle"></div>
  <div id="top-left-triangle"></div>
  <div id="main-container">
    <div id="bitcoin-header-container">
      <img src="/bitcoin-header.png" />
    </div>
    <div id="realtime-price-container">
      <div class="center">
        <h2 id="label">Actual Price Now</h2>
        <span id="bitcoin-price" title="realtime bitcoin price (updates regularly)">'Loading'</span>
      </div>
    </div>
    <div id="prediction-type-container">
      <div class="prediction-inner">
        <div id="title-container">
          <h2 id="title">Next Hour's Prediction</h2>
          <% if(locals.hourlyPredictions.length > 0){ %>
            <div>
              <span class="fa fa-clock-o"> <%= moment(hourlyPredictions[0][0]).format("YYYY-MM-DD h:mm a") %></span>
            </div>
            <div id="prediction-container">
              <span id="prediction-number">$<%= Math.round(hourlyPredictions[0][1], 2).toLocaleString() %></span>
            </div>
            <% } else { %>
              <div>No hourly predictions</div>
              <% } %>
        </div>
      </div>
      <div class="prediction-inner">
        <div id="title-container">
          <h2 id="title">Next Days's Prediction</h2>
          <% if(locals.dailyPredictions.length > 0){ %>
            <div>
              <span class="fa fa-clock-o"> <%= moment(dailyPredictions[0][0]).format("YYYY-MM-DD h:mm a") %></span>
            </div>
            <div id="prediction-container">
              <span id="prediction-number">$<%= Math.round(dailyPredictions[0][1], 2).toLocaleString() %></span>
            </div>
            <% } else { %>
              <div>No daily predictions</div>
              <% } %>
        </div>
      </div>
      <div id="prediction-graphs-container">
        <div>
          <div class="button-container">
            <button id="hourly-button" class="active">Hourly Chart</button>
          </div>
          <div class="button-container">
            <button id="daily-button">Daily Chart</button>
          </div>
        </div>
        <div id="graphs-container">
          <div id="hourly-graphs">
            <h3>Hourly Bitcoin Prices with predictions</h3>
            <!-- HOURLY -->
            <div class="chart" id="hourly-graph-price-only"></div>
            <div class="chart" id="hourly-sentiment"></div>
            <div class="chart" id="hourly-tweet-count"></div>
            <!-- END HOURLY -->
          </div>
          <div id="daily-graphs" style="display:none;">
            <!--DAILY -->
            <h3>Daily Bitcoin Prices with predictions</h3>
            <div class="chart" id="daily-graph-price-only"></div>
            <!-- END DAILY -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <span>Trent University: COIS-4000Y Software Engineering Project</span>
    <div>
      <span>Created by: <a title="Nakul Roghelia" href="https://www.github.com/nhavoc">@nhavoc</a>, <a title="Michael Dragan" href="https://www.github.com/MichaelDragan">@MichaelDragan</a>, <a title="Matthew Rowlandson" href="https://www.github.com/Treeless">@Treeless</a> &amp; <a href="https://www.github.com/sidelaunch" title="Eliot Boyd">@Sidelaunch</a></span>
      <ul>
        <li><a href="http://www.github.com/MichaelDragan/Smsa" title="prediction model github"><span class="fa fa-github"></span> Prediction Model</a></li>
        <li><a href="http://www.github.com/Treeless/crypto-monitor" title="front end github"><span class="fa fa-github"></span> This Website</a></li>
      </ul>
    </div>
  </footer>
</body>

</html>