<script>
  $(function() {
    var dates = <%- JSON.stringify(dates) %>;
    var chartData = <%- JSON.stringify(chartData) %>;

    console.log("Highchart themes and linking of charts set")

    //MAIN PRICES CHART
    var chart = Highcharts.chart('prices-chart-div', {
      xAxis: {
        type: 'datetime'
      },
      plotOptions: {
        line: {
          marker: {
            enabled: false
          }
        }
      },
      title: {
        text: 'Price of Bitcoin'
      },
      exporting: { enabled: false },
      series: [{
        name: 'USD Price',
        data: chartData.prices,
        tooltip: {
          valueDecimals: 2
        }
      }]
    });
    console.log("charted prices");

    chart = Highcharts.chart('tweetcount-chart-div', {
      xAxis: {
        type: 'datetime'
      },
      plotOptions: {
        line: {
          marker: {
            enabled: false
          }
        }
      },
      title: {
        text: 'Tweets sent'
      },
      exporting: { enabled: false },
      series: [{
        name: 'Tweets Count',
        data: chartData.tweet_count,
        tooltip: {
          valueDecimals: 0
        }
      }]
    });


    //SENTIMENT CHARTS
    chart = Highcharts.chart('tbpolarity-chart-div', {
      xAxis: {
        type: 'datetime'
      },
      yAxis: { allowDecimals: Boolean },
      plotOptions: {
        line: {
          marker: {
            enabled: false
          }
        }
      },
      title: {
        text: 'Community Sentiment via TextBlob'
      },
      exporting: { enabled: false },
      series: [{
        name: "polarity",
        data: chartData.tbpol,
        tooltip: {
          valueDecimals: 4
        }
      }]
    });

    chart = Highcharts.chart('vader-chart-div', {
      xAxis: {
        type: 'datetime'
      },
      plotOptions: {
        line: {
          marker: {
            enabled: false
          }
        }
      },
      yAxis: {
        allowDecimals: Boolean
      },
      title: {
        text: 'Community Sentiment via Vader'
      },
      exporting: { enabled: false },
      series: [{
        name: 'Polarity',
        data: chartData.vader,
        tooltip: {
          valueDecimals: 4
        }
      }]
    });
  })
  </script>
  <script>
  // Update the price percent change colors
  </script>
  <script>
  // HANDLE THE LOGIC FOR THE SELECTED INFLUENCER SENTIMENTS
  var chartDiv = "#selected-influencer-sentiments";
  var influencerSeries = []; //Chart data

  var redrawInfluencerSentimentChart = function() {
    Highcharts.chart(chartDiv, {
      xAxis: {
        type: 'datetime'
      },
      yAxis: { allowDecimals: Boolean },
      plotOptions: {
        line: {
          marker: {
            enabled: false
          }
        }
      },
      title: {
        text: 'Sentiment: Selected influencers'
      },
      exporting: { enabled: false },
      series: influencerSeries
    });
  }

  //BUTTON LOGIC
  $('#influencerSelectBtn').on('click', function() {
    var influencer = $('#influencer-input').text();

    $.getJSON('/influencer/' + influencer + "/sentiment", function(err, data) {
      // Add the data to the series
      series.push({
        name: influencer + "sentiment",
        data: data,
        tooltip: {
          valueDecimals: 4
        }
      });

      //redraw chart
    })
  });
  </script>

      <div style="display: none;">
      <div>
        <h2>Show sentiment for selected influencers:</h2>
        <div>
          @
          <input placeholder="twitterHandle" id="influencer-input" />
          <button id="influencerSelectBtn">Select</button>
          <button id="influencerClearBtn">Clear</button>
          Selected:
          <ul id="influencersSelected"></ul>
        </div>
      </div>
      <h2>Today's Charts</h2>
      <div id="prices-chart-div"></div>
      <div id="tweetcount-chart-div" class="chart"></div>
      <div id="tbpolarity-chart-div" class="chart"></div>
      <div id="vader-chart-div" class="chart"></div>
      <div>
        <h2> Today's Top influencers</h2>
        <table id="top-influencers-table">
          <tr>
            <th>TwitterHandle</th>
            <th>followers</th>
            <th>BTC related tweets</th>
          </tr>
          <% for(var i=0; i < influencers.length; i++){ %>
            <tr>
              <td>
                <%= influencers[i].accountName %>
              </td>
              <td>
                <%= influencers[i].followers.toLocaleString() %>
              </td>
              <td>
                <%= influencers[i].tweets.length %>
              </td>
            </tr>
            <% } %>
        </table>
        <h2>Top Tweets</h2>
        <table id="top-influencers-table">
          <tr>
            <th>TwitterHandle</th>
            <th>Sentiment</th>
            <th>S-Score</th>
            <th>Tweet</th>
          </tr>
          <% for(var i=0; i < topTweets.length; i++){ %>
            <tr>
              <td>
                <%= topTweets[i].accountName %>
              </td>
              <td>
                <%= topTweets[i].sentiment %>
              </td>
              <td>
                <%= topTweets[i].sentimentScore %>
              </td>
              <td>
                <%= topTweets[i].text %>
              </td>
              <td>
                <%= topTweets[i].retweets %>
              </td>
            </tr>
            <% } %>
        </table>
      </div>
    </div>